g2pM
dragonmapper
chinese_converter
g2pk2
jamo
pyopenjtalk
espeak_phonemizer
phonemizer
numpy
Cython
tensorboard
safetensors
Unidecode
soundcard
pyworld
loguru
scipy==1.10.0
matplotlib==3.7.0
matplotlib-inline
librosa
